<div id="about-scope">
    <div id="scope-content">
        <h2>Lorem Ipsum</h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque accumsan, magna nec ullamcorper elementum<br /><br />
        <img src="https://render.guildwars2.com/file/4C264FCC91D1034307CBBD0738656647DD67C467/63227.png" align="left"/>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque accumsan, magna nec ullamcorper elementum, risus ex vestibulum leo, id porttitor nisi sapien non tortor. Suspendisse sit amet pharetra urna, at gravida magna. Vestibulum at magna ac nulla condimentum sollicitudin. Donec sodales, sapien sed cursus gravida, quam libero fringilla velit, vel egestas nunc tellus vel dolor. Vivamus at consequat lectus, eget accumsan nibh. Duis semper at neque ac rhoncus. Morbi ornare velit ut nisi bibendum, id maximus quam congue. Quisque in semper massa. Fusce consectetur efficitur libero, eget cursus risus laoreet ac. Nunc scelerisque mi et tellus tincidunt, vel sagittis felis fermentum. Fusce consectetur tortor sit amet nulla consequat porttitor. Phasellus tristique convallis odio, nec porta lectus malesuada eget.
    </div>
</div>