<div id="app-app">
    <header class="dark-background light-text">
        <span class="title" data-bind="text:title"></span>
        <nav>
            <span class="info-link medium-dark-border">?</span>
        </nav>
    </header>
    <div class="search-panel" data-bind="component: 'app-search'"></div>
    <div class="search-results" data-bind="component: 'app-results'"></div>
    <div class="paging" data-bind="component: 'app-paging'"></div>
    <!-- ko if: showRecipe -->
    <div data-bind="component: 'recipe-main'"></div>
    <!-- /ko --> <!-- /if show recipe -->
    <!-- ko if: showAbout -->
    <div data-bind="component: 'about-main'"></div>
    <!-- /ko --> <!-- /if show about -->
</div>